@page {
    size: A4 landscape;
    margin: 0;
}

body {
    margin: 10px;
    background-color: #FFFFFF;
}

table {
    border-collapse: collapse;
    width: 100%;
    height: 85%;
    margin-bottom: 20px;
}

td,
th {
    border: 1px solid black;
    text-align: left;
    padding: 8px;
    font-family: 'Arial', sans-serif;
    color: #000000;
    font-weight: bold;
    vertical-align: top;
    background-color: #d3d3d3; /* Gray background color for most cells */
}

/* Add background color to specific headers */
th.bold {
    background-color: rgb(242, 162, 41); /* Orange background */
}

.no-background {
    background-color: transparent; /* No transparency in any cell */
}

.general-info {
    vertical-align: middle;
    text-align: center;
}

td[colspan="2"] {
    font-weight: bold;
}

.extra-height {
    height: 45px;
}

.bold {
    font-weight: bold;
}

.button-container {
    display: flex;
    justify-content: start;
    gap: 10px;
}

.button, a.button {
    display: inline-block;
    width: 200px;
    height: 50px;
    background-color: orange;
    text-align: center;
    border-radius: 10px;
    color: black;
    font-weight: bold;
    line-height: 50px;
    cursor: pointer;
    text-decoration: none;
}

.equal-width {
    width: 50%;
}

.larger-width {
    width: 25%;
}

.smaller-width {
    width: 25%;
}

.short-width {
    width: 50px;
}

.centered-cell {
    text-align: center;
    vertical-align: middle;
}

.smaller-width-half {
    width: 50%;
}
