@page {
    size: A4 landscape;
    margin: 0;
}

body {
    margin: 10px;
    background-color: white;  /* 整个页面的背景颜色设置为白色 */
    font-family: 'Arial', sans-serif; /* 设置字体为Arial */
}

table {
    border-collapse: collapse;
    width: 100%;
    height: 85%;
    margin-bottom: 20px;
    background-color: #f5e9cf; /* 淡绿色 */
}

td, th {
    border: 1px solid black;
    text-align: left;
    padding: 8px;
    font-weight: bold;
    vertical-align: top;
}

.bold, .general-info {
    background-color: orange;  /* 橙色 */
}

.general-info {
    vertical-align: middle;
    text-align: center;
}

.extra-width {
    width: 33%;
}

.extra-height {
    height: 45px;
}

.title {
    color: orange;
}

.button-container {
    display: flex;
    justify-content: start;
    gap: 10px;
}

.button, a.button {
    display: inline-block;
    width: 200px;
    height: 50px;
    background-color: orange;
    text-align: center;
    border-radius: 10px;
    color: black;
    line-height: 50px;
    cursor: pointer;
    text-decoration: none;
}

.equal-width {
    width: 50%;
}

.larger-width, .smaller-width {
    width: 25%;
}

.short-width {
    width: 50px;
}

.centered-cell {
    text-align: center;
    vertical-align: middle;
}

.smaller-width-half {
    width: 50%;
}

.small-font {
    font-weight: normal;
    font-size: 0.5em;
}

@media print {
    .button-container {
        display: none;
    }
}
