
    /* Added style for smaller font */
    .smaller-font {
        font-size: 50%;
    }

    /* Table styles */
    table {
        border-collapse: collapse;
        width: 100%;
    }

    table, th, td {
        border: 2px solid black;
        padding: 6px;
        background-color: #f5e9cf;  /* 默认设置为淡橙色 */
    }


    /* Printing styles */
    @media print {
        /* Hide the buttons when printing */
        .button-container {
            display: none;
        }
    }

    @page {
        size: A4 landscape;
        margin: 0;
    }

    body {
        margin: 10px;
        background-color: white;
    }

    table {
        border-collapse: collapse;
        width: 100%;
        height: 85%;
        margin-bottom: 20px;
    }

    td, th {

        text-align: left;
        font-family: 'Arial', sans-serif;
        color: #000000;
        font-weight: bold;
        vertical-align: top;
    }

    th {
        text-align: left;
        background-color: orange;  /* 保持此背景色 */
        font-weight: bold;
    }

    .general-info {
        vertical-align: middle;
        text-align: center;
    }

    td[colspan="2"] {
        font-weight: bold;
    }

    .extra-width {
        width: 33%;
    }

    .extra-height {
        height: 45px;
    }

    .bold {
        font-weight: bold;
    }

    .title {
        color: orange;
    }

    .button-container {
        display: flex;
        justify-content: start;
        gap: 10px;
    }

    .button, a.button {
        display: inline-block;
        width: 200px;
        height: 50px;
        background-color: orange;
        text-align: center;
        border-radius: 10px;
        color: black;
        font-weight: bold;
        line-height: 50px;
        cursor: pointer;
        text-decoration: none;
    }

    .equal-width {
        width: 50%;
    }

    .larger-width {
        width: 25%;
    }

    .smaller-width {
        width: 25%;
    }

    .short-width {
        width: 50px;
    }

    .centered-cell {
        text-align: center;
        vertical-align: middle;
    }

    .smaller-width-half {
        width: 50%;
    }

    .smaller-font {
        font-size: 80%;
    }
