@page {
    size: A4 landscape;
    margin: 0;
}

body {
    margin: 10px;
    background-color: #FFFFFF;
}

table {
    border-collapse: collapse;
    width: 100%;
    height: 85%;
    margin-bottom: 20px;
}

td,
th {
    border: 1px solid black;
    text-align: left;
    padding: 8px;
    font-family: 'Arial', sans-serif;
    color: #000000;
    font-weight: bold;
    vertical-align: top;
}

th {
    text-align: left;
    background-color: #FFDAB9;
    font-weight: bold;
}

.general-info {
    vertical-align: middle;
    text-align: center;
}

td[colspan="2"] {
    font-weight: bold;
}

.extra-width {
    width: 33%;
}

.extra-height {
    height: 45px;
}

.bold {
    font-weight: bold;
}

.title {
    color: orange;
}

.no-background {
    background-color: transparent;
}

.button-container {
    display: flex;  /* 使用Flex布局 */
    justify-content: start;  /* 从左侧开始排列 */
    gap: 10px;  /* 按钮之间的距离 */
}

.button, a.button {
    display: inline-block;
    width: 200px;
    height: 50px;
    background-color: #FFDAB9;
    text-align: center;
    border-radius: 10px;
    color: black;
    font-weight: bold;
    line-height: 50px;
    cursor: pointer;
    text-decoration: none;  /* 去除超链接下划线 */
}
.equal-width {
    width: 50%;  /* 你可以根据需求调整这个百分比 */
}
.larger-width {
    width: 25%;  /* 或根据需要调整 */
}

.smaller-width {
    width: 25%;  /* 或根据需要调整 */
}
.short-width {
    width: 50px; /* 或您期望的宽度 */
}

.centered-cell {
    text-align: center;
    vertical-align: middle;
}
.smaller-width-half {
    width: 50%;
}

