@page {
    size: A4 landscape;
    margin: 0;
}

body {
    margin: 10px;
    background-color: white; /* 将整个页面的背景颜色设置为白色 */
}

table {
    border-collapse: collapse;
    width: 100%;
    height: 85%;
    margin-bottom: 20px;
}

td, th {
    border: 1px solid black;
    text-align: left;
    padding: 8px;
    font-family: 'Arial', sans-serif;
    font-weight: bold;
    vertical-align: top;
    background-color: #f5e9cf; /* 将所有单元格的背景颜色设置为淡橙色 */
}

.bold, .general-info {
    background-color: orange; /* 设置 class "bold" 和 "general-info" 的单元格背景颜色为橙色 */
}

.general-info {
    vertical-align: middle;
    text-align: center;
}

.extra-width {
    width: 33%;
}

.extra-height {
    height: 45px;
}

.title {
    color: orange;
}

.button-container {
    display: flex;
    justify-content: start;
    gap: 10px;
}

.button, a.button {
    display: inline-block;
    width: 200px;
    height: 50px;
    background-color: orange;
    text-align: center;
    border-radius: 10px;
    color: black;
    line-height: 50px;
    cursor: pointer;
    text-decoration: none;
}

.equal-width {
    width: 50%;
}

.larger-width, .smaller-width {
    width: 25%;
}

.short-width {
    width: 50px;
}

.centered-cell {
    text-align: center;
    vertical-align: middle;
}

.smaller-width-half {
    width: 50%;
}

.small-font {
    font-weight: normal;
    font-size: 0.5em;
}

@media print {
    .button-container {
        display: none;
    }
}
