<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Navigation Page</title>
    <link rel="stylesheet" href="/static/css/navigation_page_style.css"> <!-- Linking the external CSS file -->
</head>
<body>
    <h1>Navigation Page</h1>
    <a href="http://localhost:8000/start_new_project/"><button class="start-new-project-button">Start New Project</button></a>

    <!-- Projects Table -->
    <h1>Project Overview</h1>
    <table>
        <tr>
            <th>Project ID</th>
            <th>Project Name</th>
            <th>Project Manager</th>
            <th>Project Type</th>
            <th>Status</th>
        </tr>
        <tbody>
        <!-- Display Your Project -->
        <!-- Display Your Project -->
        {% for project in projects %}
        <tr>
            <td>{{ project.projectid }}</td>
            <td><a href="{% url 'project_site' project.projectid %}">{{ project.project_name }}</a></td>
            <td>{{ project.project_manager}}</td>
            <td>{{ project.project_type }}</td>
            <td>
                {% if project.project_status == 'red' %}
                    <span class="status-color-box" style="background-color:red;"></span>
                {% elif project.project_status == 'yellow' %}
                    <span class="status-color-box" style="background-color:yellow;"></span>
                {% elif project.project_status == 'green' %}
                    <span class="status-color-box" style="background-color:green;"></span>
                {% elif project.project_status == 'grey' %}
                    <span class="status-color-box" style="background-color:grey;"></span>
                {% else %}
                    {{ project.project_status }}
                {% endif %}
            </td>
        </tr>
        {% endfor %}


        </tbody>
    </table>

    <h3>Status Description:</h3>
    <p><span class="status-color" style="background-color:green;"></span> Progressing On Time.</p>
    <p><span class="status-color" style="background-color:yellow;"></span> Minor Deviation.</p>
    <p><span class="status-color" style="background-color:red;"></span> Out of Plan.</p>
    <p><span class="status-color" style="background-color:grey;"></span> Not Applicable.</p>
</body>
</html>
