<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/css/preview_kickoff_style.css">
    <title>Kick off Review</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.5.0-beta4/html2canvas.min.js"></script>
    <style>
        /* Table styles */
        table {
            border-collapse: collapse; /* This ensures that the table borders don't double up */
            width: 100%;
        }

        table, th, td {
            border: 2px solid black; /* Add borders to the table and its cells */
            padding: 6px; /* Padding inside each cell */
        }

        .no-background {
            background-color: transparent; /* Ensure there's no background color */
        }
        
    </style>
</head>

<body>

<div id="contentToSave">
    <h1 class="title">Kick off Review</h1>
    <table>
        <tr>
            <th class="bold" colspan="2">Project Name: {{ project.project_name }}</th>
            <th class="bold" colspan="2">Project Manager: {{ project.project_manager }}</th>
        </tr>
        <tr>
            <th class="bold general-info" rowspan="10">General Information</th>
            <td>Project Type: {{ project.project_type }}</td>
            <td class="larger-width">Estimated Budget: {{ project.estimated_budget }}KCNY</td>
            <td class="larger-width">IRR/Benefit: {{ project.irr }}%</td>
        </tr>
        <tr>
            <td class="no-background" colspan="4">Project File Location: 【TBA】</td>
        </tr>
        <tr>
            <td class="no-background" colspan="3">Project Team: {{ project.project_team }}</td>
        </tr>
        <tr>
            <td rowspan="2">Timing & (Major Milestone Plan):</td>
            <td class="smaller-width">Kick Off: {{ project.timing_kickoff }}</td>
            <td class="smaller-width">Milestone1: {{ project.timing_milestone1 }}</td>
        </tr>
        <tr>
            <td class="smaller-width">Milestone2: {{ project.timing_milestone2 }}</td>
            <td class="smaller-width">Closure: {{ project.timing_closure }}</td>
        </tr>
        <tr>
            <td class="no-background extra-height" colspan="3">Main Target: {{ project.main_target }}</td>
        </tr>
        <tr>
            <td class="no-background extra-height" colspan="3">Boundary Conditions: {{ project.boundary_conditions }}</td>
        </tr>
        <tr>
            <td class="no-background extra-height" colspan="3">Out of Scope: {{ project.out_of_scope }}</td>
        </tr>
        <tr>
            <td class="no-background extra-height" colspan="3">Steering Committee: {{ project.steering_committee }}</td>
        </tr>
        <tr>
            <td class="no-background extra-height" colspan="3">Potential Risk & Uncertainties: {{ project.risk_uncertainties }}</td>
        </tr>
        <tr>
            <th class="bold general-info" rowspan="3">Sub-target & Success Criteria:</th>
            <td class="equal-width" rowspan="2">Sub-target:</td>
            <td class="equal-width" colspan="2" rowspan="2">Success Criteria:</td>
        </tr>
        <tr>
            <!-- Empty row due to rowspan -->
        </tr>
        <tr>
            <td class="extra-height">
                {{ kickoff.sub_target1 }}<br>
                {{ kickoff.sub_target2 }}<br>
                {{ kickoff.sub_target3 }}<br>
                {{ kickoff.sub_target4 }}
            </td>
            <td class="extra-height" colspan="2">
                {{ kickoff.success_criteria1 }}<br>
                {{ kickoff.success_criteria2 }}<br>
                {{ kickoff.success_criteria3 }}<br>
                {{ kickoff.success_criteria4 }}
            </td>
        </tr>
    </table>
</div>

<div class="button-container">
    <a href="{% url 'project_site' project_id %}" class="button">
        Return
    </a>
    <div class="button" id="saveAsImage">
        Save as Image
    </div>
</div>

<script>
    document.getElementById('saveAsImage').addEventListener('click', function() {
        html2canvas(document.querySelector('#contentToSave')).then(canvas => {
            let imgURL = canvas.toDataURL('image/png');
            let link = document.createElement('a');
            link.href = imgURL;
            link.download = 'kickoff_review.png';
            document.body.appendChild(link);
            link.click();
            document.body.removeChild(link);
        });
    });
</script>

</body>
</html>
