<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/css/preview_milestone_style.css">
    <title>Milestone Review</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.5.0-beta4/html2canvas.js"></script>
    <style>
        /* Added style for smaller font */
        .smaller-font {
            font-size: 50%;
        }

        /* Table styles */
        table {
            border-collapse: collapse;
            width: 100%;
        }

        table, th, td {
            border: 2px solid black;
            padding: 6px;
        }

        .no-background {
            background-color: transparent;
        }

        /* Printing styles */
        @media print {
            /* Hide the buttons when printing */
            .button-container {
                display: none;
            }
        }
    </style>
</head>

<body>
    <!-- Container for the printable content -->
    <div id="print-content">
        <h1 class="title">Milestone Review</h1>
        <table>
            <colgroup>
                <col style="width: 10%;">
                <col style="width: 30%;">
                <col style="width: 12%;">
                <col style="width: 12%;">
                <col style="width: 12%;">
                <col style="width: 12%;">
                <col style="width: 12%;">
            </colgroup>
            <tr>
                <th class="bold orange-bg" colspan="2">Project Name: <span>{{ project.project_name }}</span></th>
                <th class="bold orange-bg" colspan="5">Project Manager: <span>{{ project.project_manager }}</span></th>
            </tr>
            <tr>
                <th class="bold short-width general-info orange-bg" rowspan="5">General Information</th>
                <td>SPA or PLP: <span>{{ project.project_type }}</span></td>
                <td colspan="2">Estimated Budget: <span>{{ project.estimated_budget }}KCNY</span></td>
                <td colspan="3">IRR/Benefit: <span>{{ project.irr }}%</span></td>
            </tr>
            <tr>
                <td colspan="6">Steering Committee: <span>{{ project.steering_committee }}</span></td>
            </tr>
            <tr class="boundary-height">
                <td colspan="6">Boundary Condition: <span>{{ project.boundary_conditions }}</span></td>
            </tr>
            <tr class="timing-height">
                <td rowspan="2">Project Performace Cockpit</td>
                <td>Deliverable</td>
                <td>Timing</td>
                <td>Budget</td>
                <td>Resources</td>
                <td>Risks</td>
            </tr>
            <tr class="fixed-height">
                <td><span>{{ milestones.ppc_deliverable }}</span></td>
                <td><span>{{ milestones.ppc_timing }}</span></td>
                <td><span>{{ milestones.ppc_budget }}</span></td>
                <td><span>{{ milestones.ppc_resources }}</span></td>
                <td><span>{{ milestones.ppc_risks }}</span></td>
            </tr>
            <tr>
                <th class="bold short-width general-info orange-bg">Main Target</th>
                <td colspan="6"><span>{{ project.main_target }}</span></td>
            </tr>
            <tr>
                <th class="bold short-width general-info orange-bg" rowspan="4">Project Status</th>
                <td colspan="6">Milestone 1:<span> {{ milestones.deliverable_ms1 }}</span></td>
            </tr>
            <tr>
                <td colspan="6">Milestone 2:<span> {{ milestones.deliverable_ms2 }}</span></td>
            </tr>
            <tr>
                <td colspan="6">Milestone 3:<span> {{ milestones.deliverable_ms3 }}</span></td>
            </tr>
            <tr>
                <td colspan="6">Closure:<span> {{ milestones.deliverable_closure }}</span></td>
            </tr>
            <tr>
                <th class="bold orange-bg" rowspan="2">Next Decisions to be Made</th>
                <td colspan="6" rowspan="2"><span>{{ milestones.next_step }}</span></td>
            </tr>
        </table>
        
    
    </div>

    <div class="button-container">
        <a href="{% url 'project_site' project_id %}" class="button">Return</a>
        <button onclick="saveTableAsImage()" class="button">Save as Image</button>
    </div>

    <script>
        function saveTableAsImage() {
            const content = document.getElementById('print-content');
            html2canvas(content).then(function(canvas) {
                var link = document.createElement("a");
                document.body.appendChild(link);
                link.download = "milestone_review.png";
                link.href = canvas.toDataURL("image/png");
                link.target = '_blank';
                link.click();
            });
        }
    </script>
</body>
</html>
