<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/css/preview_announcement_style.css">
    <title>Announcement Review</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.5.0-beta4/html2canvas.js"></script>
    <style>
        /* Table styles */
        table {
            border-collapse: collapse;
            width: 100%;
        }

        table, th, td {
            border: 2px solid black;
            padding: 6px;
        }

        .no-background {
            background-color: white;
        }

        /* Printing styles */
        @media print {
            /* Hide the buttons when printing */
            .button-container {
                display: none;
            }
        }
    </style>
</head>

<body>
    <!-- Container for the printable content -->
    <div id="print-content">
        <h1 class="title">Announcement Review</h1>

        <table>
            <tr>
                <th class="bold" colspan="2">Project Name: <span style="font-size: 50%;">{{ project.project_name }}</span></th>
                <th class="bold" colspan="2">Project Manager: <span style="font-size: 50%;">{{ project.project_manager }}</span></th>
            </tr>
            <tr>
                <th class="bold general-info" rowspan="10">General Information</th>
                <td>Project Type: <span style="font-size: 50%;">{{ project.project_type }}</span></td>
                <td class="larger-width">Estimated Budget: <span style="font-size: 50%;">{{ project.estimated_budget }}KCNY</span></td>
                <td class="larger-width">IRR/Benefit: <span style="font-size: 50%;">{{ project.irr }}%</span></td>
            </tr>
            <tr>
                <td class="no-background" colspan="4">Project File Location: <span style="font-size: 50%;">【TBA】</span></td>
            </tr>
            <tr>
                <td class="no-background" colspan="3">Project Team: <span style="font-size: 50%;">{{ project.project_team }}</span></td>
            </tr>
            <tr>
                <td rowspan="2">Timing & (Major Milestone Plan):</td>
                <td class="smaller-width">Kick Off: <span style="font-size: 50%;">{{ project.timing_kickoff }}</span></td>
                <td class="smaller-width">Milestone1: <span style="font-size: 50%;">{{ project.timing_milestone1 }}</span></td>
            </tr>
            <tr>
                <td class="smaller-width">Milestone2: <span style="font-size: 50%;">{{ project.timing_milestone2 }}</span></td>
                <td class="smaller-width">Closure: <span style="font-size: 50%;">{{ project.timing_closure }}</span></td>
            </tr>
            <tr>
                <td class="no-background extra-height" colspan="3">Main Target: <span style="font-size: 50%;">{{ project.main_target }}</span></td>
            </tr>
            <tr>
                <td class="no-background extra-height" colspan="3">Boundary Conditions: <span style="font-size: 50%;">{{ project.boundary_conditions }}</span></td>
            </tr>
            <tr>
                <td class="no-background extra-height" colspan="3">Out of Scope: <span style="font-size: 50%;">{{ project.out_of_scope }}</span></td>
            </tr>
            <tr>
                <td class="no-background extra-height" colspan="3">Steering Committee: <span style="font-size: 50%;">{{ project.steering_committee }}</span></td>
            </tr>
            <tr>
                <td class="no-background extra-height" colspan="3">Potential Risk & Uncertainties: <span style="font-size: 50%;">{{ project.risk_uncertainties }}</span></td>
            </tr>
            <tr>
                <th class="bold general-info" rowspan="3">Initial Situation & General Concept</th>
                <td class="equal-width" rowspan="2">Initial Situation:</td>
                <td class="equal-width" colspan="2" rowspan="2">General Concept:</td>
            </tr>
            <tr>
                <!-- 这一行不需要任何单元格，因为我们已经在上面的行中指定了'rowspan="2"' -->
            </tr>
            <tr>
                <td class="extra-height">
                    <span style="font-size: 50%;">{{ announcement.init_situation1 }}</span><br>
                    <span style="font-size: 50%;">{{ announcement.init_situation2 }}</span><br>
                    <span style="font-size: 50%;">{{ announcement.init_situation3 }}</span><br>
                    <span style="font-size: 50%;">{{ announcement.init_situation4 }}</span>
                </td>
                <td class="extra-height" colspan="2">
                    <span style="font-size: 50%;">{{ announcement.gene_concept1 }}</span><br>
                    <span style="font-size: 50%;">{{ announcement.gene_concept2 }}</span><br>
                    <span style="font-size: 50%;">{{ announcement.gene_concept3 }}</span><br>
                    <span style="font-size: 50%;">{{ announcement.gene_concept4 }}</span>
                </td>
            </tr>
        </table>
    </div>

    <div class="button-container">
        <a href="{% url 'project_site' project_id %}" class="button">Return</a>
        <button onclick="saveTableAsImage()" class="button">Save as Image</button>
    </div>

    <script>
        function saveTableAsImage() {
            const content = document.getElementById('print-content');
            html2canvas(content).then(function(canvas) {
                var link = document.createElement("a");
                document.body.appendChild(link);
                link.download = "announcement_review.png";
                link.href = canvas.toDataURL("image/png");
                link.target = '_blank';
                link.click();
            });
        }
    </script>
</body>
</html>
