<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/css/preview_announcement_style.css">
    <title>Announcement Review</title>
</head>

<body>
    <h1 class="title">Announcement Review</h1>
    <table>
        <tr>
            <th class="bold" colspan="2">Project Name:</th>
            <th class="bold" colspan="2">Project Manager:</th>
        </tr>
        <tr>
            <th class="bold general-info" rowspan="10">General Information</th>
            <td>SPA or PLP:</td>
            <td class="larger-width">Estimated Budget:</td>
            <td class="larger-width">IRR/Benefit:</td>
        </tr>
        <tr>
            <td class="no-background" colspan="4">Project File Location:</td>
        </tr>
        <tr>
            <td class="no-background" colspan="3">Project Team:</td>
        </tr>
        <tr>
            <td rowspan="2">Timing & (Major Milestone Plan):</td>
            <td class="smaller-width">Kick Off:</td>
            <td class="smaller-width">Milestone1:</td>
        </tr>
        <tr>
            <td class="smaller-width">Milestone2:</td>
            <td class="smaller-width">Closure:</td>
        </tr>
        <tr>
            <td class="no-background extra-height" colspan="3">Main Target:</td>
        </tr>
        <tr>
            <td class="no-background extra-height" colspan="3">Boundary Conditions:</td>
        </tr>
        <tr>
            <td class="no-background extra-height" colspan="3">Out of Scope:</td>
        </tr>
        <tr>
            <td class="no-background extra-height" colspan="3">Steering Committee: (Sponsor, Facilitator, Steering1, Steering2)</td>
        </tr>
        <tr>
            <td class="no-background extra-height" colspan="3">Potential Risk & Uncertainties:</td>
        </tr>
        <tr>
            <th class="bold general-info" rowspan="2">Initial Situation & General Concept</th>
            <td class="equal-width">Initial Situation</td>
            <td class="equal-width" colspan="2">General Concept</td>
        </tr>
        <tr>
            <td class="extra-height"></td>
            <td class="extra-height" colspan="2"></td>
        </tr>
    </table>

    <div class="button-container">
        <a href="http://127.0.0.1:8000/project_site/" class="button">
            Return
        </a>
        <button onclick="saveTableAsImage()" class="button">Save as Image</button>
    </div>

    <!-- Include the html2canvas library -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.5.0-beta4/html2canvas.js"></script>

    <script>
    function saveTableAsImage() {
    var scale = 2; // Increase as needed

    // Temporarily hide the button container
    var buttonContainer = document.querySelector('.button-container');
    buttonContainer.style.display = 'none';

    // Capture the whole body including the title and table
    html2canvas(document.body, {
        scale: scale,
        onrendered: function(canvas) {
            var a = document.createElement('a');
            a.href = canvas.toDataURL("image/png");
            a.download = 'content-image.png';
            a.click();

            // Restore the button container
            buttonContainer.style.display = 'flex';
        }
    });
}
    </script>
</body>
</html>