<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project Site</title>
    <link rel="stylesheet" href="/static/css/project_site_style.css">
    <script>
        function enableEdit(sectionID) {
            let section = document.getElementById(sectionID);
            let cells = section.querySelectorAll('td:not(.non-editable)');
            for (let cell of cells) {
                let text = cell.innerText || cell.textContent;
                cell.innerHTML = '<input type="text" value="' + text + '"/>';
            }
        }

        function saveEdit(sectionID) {
            let section = document.getElementById(sectionID);
            let cells = section.querySelectorAll('td:not(.non-editable)');
            for (let cell of cells) {
                let input = cell.querySelector('input');
                cell.innerHTML = input.value;

                let cellKey = sectionID + "-" + cell.cellIndex + "-" + cell.parentElement.rowIndex;
                localStorage.setItem(cellKey, input.value);
            }
        }

        function loadDataFromLocalStorage() {
            let sections = ['general-information'];
            for (let sectionID of sections) {
                let section = document.getElementById(sectionID);
                let cells = section.querySelectorAll('td:not(.non-editable)');
                for (let cell of cells) {
                    let cellKey = sectionID + "-" + cell.cellIndex + "-" + cell.parentElement.rowIndex;
                    let savedData = localStorage.getItem(cellKey);
                    if (savedData) {
                        cell.innerHTML = savedData;
                    }
                }
            }
        }

        function saveAndSubmit(sectionID) {
            const urlParts = window.location.href.split('/');
            const projectid = urlParts[urlParts.length - 2];
            let section = document.getElementById((sectionID));
            let cells = section.querySelectorAll('td:not(.non-editable)');

            let data = {projectid: projectid};
            for (let cell of cells) {
                let input = cell.querySelector('input');
                let cellKey = sectionID + '-'+cell.cellIndex+'-'+cell.parentElement.rowIndex;
                let cellValue = input.value;
                data[cellKey] = cellValue;
            }

            sendPostRequest(data);
        }

        function sendPostRequest(data) {
            fetch('http://127.0.0.1:8000/edit_project/', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': getCookie('csrftoken')
                },
                body: JSON.stringify(data)
            }).then(response => {
                if (response.ok){
                    console.log('Successful');
                } else {
                    console.log('fail')
                }
                console.log('data', JSON.stringify(data))
            }).catch(error=>{console.error('POST WENT WRONG', error)});
        }

        function getCookie(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie!=='') {
                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    if (cookie.substring(0, name.length+1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
    </script>
</head>

<body onload="loadDataFromLocalStorage()">
    <a href="http://127.0.0.1:8000/navigation/">
        <img id="logo-button" src="/static/images/Continental Logo.png" alt="Logo" />
    </a>

    <h1>Project Site</h1>

<!-- General Information Section -->
<h2>General Information</h2>

<div id="general-information">
    <table>
        <tr>
            <td class="non-editable">Project Name</td>
            <td>{{ project.project_name }}</td>
            <td class="non-editable">Project Manager</td>
            <td>{{ project.pm.name }}</td>
        </tr>
        <tr>
            <td class="non-editable">Estimated Budget</td>
            <td>{{ project.estimated_budget }}</td>
            <td class="non-editable">IRR (Internal Rate of Return)</td>
            <td>{{ project.irr }}</td>
        </tr>
        <tr>
            <td class="non-editable">SPA or PLP</td>
            <td>{{ project.project_type }}</td>
            <td class="non-editable">Project Team</td>
            <td>{{ project.project_team }}</td>
        </tr>
        <tr>
            <td class="non-editable">Kick Off Date</td>
            <td>{{ project.timing_kickoff|date:'Y-m-d' }}</td>
            <td class="non-editable">Closure Date</td>
            <td>{{ project.timing_closure|date:'Y-m-d' }}</td>
        </tr>
        <tr>
            <td class="non-editable">Milestone 1 Date</td>
            <td>{{ project.timing_milestone1|date:'Y-m-d' }}</td>
            <td class="non-editable">Milestone 2 Date</td>
            <td>{{ project.timing_milestone2|date:'Y-m-d' }}</td>
        </tr>
        <tr>
            <td class="non-editable">Milestone 3 Date</td>
            <td>{{ project.timing_milestone3|date:'Y-m-d' }}</td>
            <td class="non-editable">Milestone 4 Date</td>
            <td>{{ project.timing_milestone4|date:'Y-m-d' }}</td>
        </tr>
        <tr>
            <td class="non-editable">Main Target</td>
            <td>{{ project.main_target }}</td>
            <td class="non-editable">Boundary Conditions</td>
            <td>{{ project.boundary_conditions }}</td>
        </tr>
        <tr>
            <td class="non-editable">Steering Committee</td>
            <td>{{ project.steering_committee }}</td>
            <td class="non-editable">Facilitator</td>
            <td>{{ project.facilitator }}</td>
        </tr>
        <tr>
            <td class="non-editable">Out of Scope</td>
            <td>{{ project.out_of_scope }}</td>
            <td class="non-editable">Risks and Uncertainties</td>
            <td>{{ project.risk_uncertainties }}</td>
        </tr>
    </table>
    <button class="edit-button" onclick="enableEdit('general-information')">Edit</button>
    <button class="edit-button print-button" onclick="saveAndSubmit('general-information')">Save</button>
</div>

<!-- Announcement Section -->
<h2>Announcement</h2>
<div id="section-a">
    <table>
        <tr><td class="non-editable">Initial Situation 1</td><td></td><td class="non-editable">General Concept 1</td><td></td></tr>
        <tr><td class="non-editable">Initial Situation 2</td><td></td><td class="non-editable">General Concept 2</td><td></td></tr>
        <tr><td class="non-editable">Initial Situation 3</td><td></td><td class="non-editable">General Concept 3</td><td></td></tr>
        <tr><td class="non-editable">Initial Situation 4</td><td></td><td class="non-editable">General Concept 4</td><td></td></tr>
    </table>
    <button class="edit-button" onclick="enableEdit('section-a')">Edit</button>
    <button class="edit-button print-button" onclick="saveEdit('section-a')">Save</button>
    <a href="{% url 'preview_announcement' project.projectid %}" target="_blank">
        <button class="edit-button print-button" type="button">Print</button>
    </a>
    
</div>

<!-- After Kickoff Section -->
<h2>After Kick Off</h2>
<div id="section-b">
    <table>
        <tr><td class="non-editable">Sub-target 1</td><td></td><td class="non-editable">Success Criteria 1</td><td></td></tr>
        <tr><td class="non-editable">Sub-target 2</td><td></td><td class="non-editable">Success Criteria 2</td><td></td></tr>
        <tr><td class="non-editable">Sub-target 3</td><td></td><td class="non-editable">Success Criteria 3</td><td></td></tr>
        <tr><td class="non-editable">Sub-target 4</td><td></td><td class="non-editable">Success Criteria 4</td><td></td></tr>
    </table>
    <button class="edit-button" onclick="enableEdit('section-b')">Edit</button>
    <button class="edit-button print-button" onclick="saveEdit('section-b')">Save</button>
    <a href="{% url 'kickoff_review_with_id' project_id %}" target="_blank">
        <button class="edit-button print-button" type="button">Print</button>
    </a>
    

</div>

<!-- Milestone Section -->
<h2>Milestone</h2>
<div id="section-c">
    <table>
        <tr><td class="non-editable">Project ID:</td><td></td><td></td><td></td></tr>
        <tr><td class="non-editable">Milestone 1</td><td></td><td class="non-editable">Date</td><td></td></tr>
        <tr><td class="non-editable">Milestone 2</td><td></td><td class="non-editable">Date</td><td></td></tr>
        <tr><td class="non-editable">Milestone 3</td><td></td><td class="non-editable">Date</td><td></td></tr>
        <tr><td class="non-editable">Milestone 4</td><td></td><td class="non-editable">Date</td><td></td></tr>
    </table>
    <button class="edit-button" onclick="enableEdit('section-c')">Edit</button>
    <button class="edit-button print-button" onclick="saveEdit('section-c')">Save</button>
    
    <a href="{% url 'preview_milestone_with_id' project_id %}" target="_blank">
        <button class="edit-button print-button" type="button">Print</button>
    </a>
    
</div>

<!-- Closure Section -->
<h2>Closure</h2>
<div id="section-d">
    <table>
        <tr><td class="non-editable">Project Name:</td><td></td><td class="non-editable">Project Manager:</td><td></td></tr>
        <tr><td class="non-editable">Project ID</td><td></td><td class="non-editable">Closure Date</td><td></td></tr>
        <tr><td class="non-editable">Closure Remarks 1</td><td></td><td class="non-editable">Closure Criteria 1</td><td></td></tr>
        <tr><td class="non-editable">Closure Remarks 2</td><td></td><td class="non-editable">Closure Criteria 2</td><td></td></tr>
        <tr><td class="non-editable">Closure Remarks 3</td><td></td><td class="non-editable">Closure Criteria 3</td><td></td></tr>
        <tr><td class="non-editable">Closure Remarks 4</td><td></td><td class="non-editable">Closure Criteria 4</td><td></td></tr>

    </table>
    <button class="edit-button" onclick="enableEdit('section-d')">Edit</button>
    <button class="edit-button print-button" onclick="saveEdit('section-d')">Save</button>
    
    <a href="{% url 'preview_closure_with_id' project_id %}" target="_blank">
        <button class="edit-button print-button" type="button">Print</button>
    </a>
    
</div>
</body>
</html>
