{% load static %}
{% csrf_token %}
        
<!DOCTYPE html>
<html>

<head>
    <title>New Project Table (General Information)</title>
    <link rel="stylesheet" href="{% static 'css/start_new_project_style.css' %}">
</head>

<body>
    <div class="header">
        <a href="http://127.0.0.1:8000/navigation/"><img src="{% static 'images/Continental Logo.png' %}" alt="Logo" class="logo"></a>
        <h1>New Project Table (General Information)</h1>
    </div>

    <!----<p>
    <form action="{% url 'submit_new_project' %}" method="post">
    <form action="{% url 'check_data' %}" method="post"></form>
    -->

    <form action="{% url 'submit_new_project' %}" method="post">
        {% csrf_token %}


        

    <div class="container">
        {% for attribute in attributes_before_project_type %}
        <p>{{ attribute }}:
            {% if attribute == "Estimated Budget" %}
                <input type='text' name='estimated_budget' style='width: 100px;' /> KCNY
            {% elif attribute == "IRR" %}
                <input type='text' name='irr' style='width: 100px;' /> %
            {% elif attribute == "Project Manager" %}
                <input type='text' name='project_manager' />
            {% elif attribute == "Project Name" %}
                <input type='text' name='project_name' />
            {% elif attribute == "Project Status" %} <!-- 添加这里的逻辑 -->
                <label><input type="radio" name="project_status" value="A" /> Green</label>
                <label><input type="radio" name="project_status" value="B" /> Yellow</label>
                <label><input type="radio" name="project_status" value="C" /> Red</label>
                <label><input type="radio" name="project_status" value="D" /> Grey</label>
            {% else %}
                <input type='text' name='input-field' />
            {% endif %}
        </p>
        {% endfor %}
        
        <p>Project Type:
            <label><input type="radio" name="project_type" value="SPA" /> SPA</label>
            <label><input type="radio" name="project_type" value="PLP" /> PLP</label>
        </p>

        <!--
        {% for date_attribute in date_attributes %}
        <p>{{ date_attribute }}: <input type='date' name='date-field' /></p>
        {% endfor %}
        ----->

        {% for date_attribute in date_attributes %}
        <p>{{ date_attribute }}: <input type='date' name="{{ date_attribute|slugify }}" /></p>
        {% endfor %}



        {% for attribute in attributes_after_project_type_and_dates %}
        <p>{{ attribute }}:
            {% if attribute == "Main Target" or attribute == "Boundary Conditions" or attribute == "Out of Scope" or attribute == "Risk and Uncertainties" %}
            <div id="{{attribute|slugify}}_container">
                <!-- No preset main target here, it will be added dynamically by JavaScript -->
            </div>
            <button type="button" onclick="addItem('{{attribute|slugify}}')">Add More</button>
            {% elif attribute == "Facilitator" %}
            <select name="facilitator">
                {% for facilitator in facilitators %}
                <option value="{{ facilitator }}">{{ facilitator }}</option>
                {% endfor %}
            </select>
            {% elif attribute == "Steering committee" %}
            <select name="steering_committee">
                {% for member in steering_committee %}
                <option value="{{ member }}">{{ member }}</option>
                {% endfor %}
            </select>
            {% else %}
            <input type='text' name='input-field' />
            {% endif %}
        </p>
        {% endfor %}

        <!---

        <button class="custom-button" onclick="saveDataToLocal()">Save</button>
        <button class="custom-button" type="submit">Submit</button>
        <button class="custom-button" id="clear-all-button">Clear All</button>

        -->

        <button class="custom-button" type="button" onclick="saveDataToLocal()">Save</button>
        <button class="custom-button" type="submit">Submit</button>
        <button class="custom-button" id="clear-all-button">Clear All</button>


    </div>
    </form>


    <script>
        let counters = {
            "main-target": 0,
            "boundary-conditions": 0,
            "out-of-scope": 0,
            "risk-and-uncertainties":0,
        };
        const maxCount = 4;
            
        function addItem(attribute) {
            if (counters[attribute] < maxCount) {
                counters[attribute]++;
                let div = document.createElement('div');
                div.className = attribute + '_item';
                div.id = attribute + '_' + counters[attribute];
                
                let input = document.createElement('input');
                input.type = 'text';
                input.name = attribute + '_input_' + counters[attribute];
                
                let deleteButton = document.createElement('button');
                deleteButton.innerText = 'Delete';
                deleteButton.type = 'button';
                deleteButton.onclick = function() {
                    deleteItem(attribute, div.id);
                };
                
                div.appendChild(input);
                div.appendChild(deleteButton);
                document.getElementById(attribute + '_container').appendChild(div);
    
                if (counters[attribute] === 1) {
                    document.getElementById(attribute + '_1').querySelector('button').style.display = 'none';
                }
            }
        }
    
        function deleteItem(attribute, targetId) {
            var target = document.getElementById(targetId);
            target.remove();
            counters[attribute]--;
            var items = document.getElementsByClassName(attribute + "_item");
            for (var i = 0; i < items.length; i++) {
                items[i].id = attribute + "_" + (i + 1);
                var input = items[i].querySelector('input');
                input.name = attribute + "_input_" + (i + 1);
            }
            if (counters[attribute] === 1) {
                document.getElementById(attribute + '_1').querySelector('button').style.display = 'none';
            }
        }
    
        document.getElementById("clear-all-button").addEventListener("click", function() {
            // 清除所有input标签的值
            var inputs = document.querySelectorAll("input");
            for (var i = 0; i < inputs.length; i++) {
                if(inputs[i].type === 'radio' || inputs[i].type === 'checkbox') {
                    inputs[i].checked = false;
                } else {
                    inputs[i].value = '';
                }
            }
            
            // 清除所有select标签的选项
            var selects = document.querySelectorAll("select");
            for (var i = 0; i < selects.length; i++) {
                selects[i].selectedIndex = 0;
            }
            
            // 删除所有动态添加的项
            for (const key in counters) {
                while(counters[key] > 1) {
                    deleteItem(key, key + "_" + counters[key]);
                }
            }
        });
    
        document.addEventListener('DOMContentLoaded', function() {
            addItem('main-target');
            addItem('boundary-conditions');
            addItem('out-of-scope')
            addItem('risk-and-uncertainties');
            loadDataFromLocal();
        });
    
        function saveDataToLocal() {
    var inputs = document.querySelectorAll("input, select");
    var data = {};

    inputs.forEach(function(input) {
        if(input.type === 'radio' || input.type === 'checkbox') {
            if(input.checked) {
                data[input.name] = input.value;
            }
        } else {
            data[input.name] = input.value;
        }
    });

    localStorage.setItem('savedData', JSON.stringify(data));
}

function loadDataFromLocal() {
    var savedData = localStorage.getItem('savedData');

    if(savedData) {
        var data = JSON.parse(savedData);
        
        for(var key in data) {
            var input = document.querySelector("[name='" + key + "']");
            if(input) {
                if(input.type === 'radio' || input.type === 'checkbox') {
                    if(data[key] === input.value) {
                        input.checked = true;
                    }
                } else {
                    input.value = data[key];
                }
            }
        }
    }
}
    </script>
</body>
</html>